package $(PackageName)$(CSLB){
	import com.xintend.display.Spirit;
	
	/**
	$(CBI)* ...
	$(CBI)* @author $(DefaultUser)
	$(CBI)*/
	public class Main extends Spirit $(CSLB){
		
		public function Main():void $(CSLB){
			
		}
		
		override public function init():void {
			super.init();
			// entry point
			
		}
		
	}
	
}